<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/general :: include-frag"/>
    <script src="js/home.js"></script>
</head>
<body>

<div th:replace="fragments/general :: menu-frag"/>

<div class="container">
    <div th:replace="fragments/general :: flash-message-frag"/>

    <form method="post" th:action="@{/save}" role="form" class="form-horizontal">
        <div class="row">
            <div class="col text-center">
                <p class="text-end" th:inline="text">Current Date : [[${serverTime}]]</p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col text-center">
                <h2>Customers</h2>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-4">
                <form>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" name="firstName" class="form-control" id="firstName" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Enter your name!</div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="lastName">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-8">
                <table id="customer-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer: ${customerLst}">
                            <td th:inline="text">[[${customer.firstName}]]</td>
                            <td th:inline="text">[[${customer.lastName}]]</td>
                            <td><a th:href="@{'/delete/' + ${customer.id}}"<i class="bi bi-trash"></i></a></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </form>
</div>

</body>
</html>
